body {
  font-family: "Poppins", sans-serif;
  background-color: #323131;
  margin: 0;
}
/*personal information start here*/

.tageline {
  background-image: url(/images/background-image.png);
  background-size: cover;
  height: 50vh;
  position: relative;
  color: #ebeae7;
  padding: 3rem;
}
.wave {
  display: inline-block;
  font-size: larger;
  animation: wave-animation 1.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#animated-text {
  font-size: 1.3rem;
  font-family: monospace;
  font-weight: 600;
  white-space: pre-line;
}

#blue {
  color: #92b0ec;
}
#yellow {
  color: #f07b5d;
}

#green {
  color: #44a866;
}
#tag {
  font-size: 1.5rem;
  color: #f9e04f;
}

.contact-info {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
}
.socail-link a {
  color: #fff;
  padding-right: 20px;
  font-size: 16px;
  text-decoration: none;
}

/*start of the project teaser card*/
.project-teaser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.teaser-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 40px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(62, 55, 63);
  text-align: center;
  width: 320px;
}

.teaser-card img {
  width: 280px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(249, 136, 252, 0.6);
  padding: 10px;
}

.teaser-card h1 {
  font-size: 1.2rem;
  margin: 15px 0 5px;
  color: #af49af;
  border: none;
}

.teaser-card p {
  font-size: 1rem;
  color: #e7e7e7;
  text-align: justify;
}
.teaser-card .bold {
  font-weight: bold;
}

.teaser-card a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #13316d;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 15px;
  transition: background 0.3s ease-in-out;
}

.teaser-card a:hover {
  background-color: #90a9e0;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  background-color: #262626;
  color: #fff;
  font-size: 12px;
  border-top: 1px solid #56384d;
}
